{
  "extends": ["@rocketseat/eslint-config/node", "plugin:vitest-globals/recommended"],
  "env": {
    "vitest-globals/env": "true"
  },
  "rules": {
    "prettier/prettier": [
      "error",
      {
        "printWidth": 80,
        "tabWidth": 2,
        "singleQuote": true,
        "trailingComma": "all",
        "arrowParens": "always",
        "semi": true
      }
    ],
    "import/no-default-export": "error"
  },
  "overrides": [
    {
      "files": ["src/plugins/**/*", "src/routes/**"],
      "rules": {
        "import/no-default-export": "off"
      }
    }
  ]
}
