name: ci

on:
  push:
    branches: [main, chore/user]
  pull_request:
    branches: [main, chore/user]
jobs:
  setup-node_modules:
    runs-on: ${{matrix.os}}
    timeout-minutes: 15
    strategy:
      matrix:
        os: [ubuntu-latest, windows-latest]
    steps:
      - uses: actions/checkout@v3
      - uses: pnpm/action-setup@v2.2.4
        with:
          version: 8.1.1
      - uses: actions/setup-node@v3
        with:
          node-version: 18
      - uses: nick-fields/retry@v2.8.3
        with:
          max_attempts: 10
          timeout_minutes: 15
          retry_on: error
          command: pnpm fetch 

  build:
    needs: setup-node_modules
    runs-on: ${{matrix.os}}
    timeout-minutes: 5
    strategy:
      matrix:
        node-version: [16, 18]
        # don't have them for now
        command: ["test", "lint"]
        os: [ubuntu-latest]
    steps:
      - uses: actions/checkout@v3
      - uses: pnpm/action-setup@v2.2.4
        with:
          version: 8.1.1
      - name: Use Node supported versions
        uses: actions/setup-node@v3
        with:
          node-version: ${{ matrix.node-version }}
      - name: pnpm install
        uses: nick-fields/retry@v2.8.3
        with:
          max_attempts: 10
          timeout_minutes: 15
          retry_on: error
          command: pnpm install --frozen-lockfile
      - name: pnpm action setup     
        uses: pnpm/action-setup@v2.2.4
        with:
          command: ${{matrix.command}}
