name: ci

on:
  push:
    branches: [main]
  pull_request:
    branches: [main, microservice/user]
  workflow_dispatch:

jobs:
  deps-review:
    strategy:
      matrix:
        os: [ubuntu-latest, windows-latest]
    name: Dependecy Check
    if: github.event_name == 'pull_request'
    runs-on: ${{matrix.os}}
    steps:
      - name: Checkout repo
        uses: actions/checkout@v3
        with:
          persist-credentials: false
      - name: Dependency Review
        uses: actions/dependency-review-action@v3

  linter:
    strategy:
      matrix:
        os: [ubuntu-latest]
    runs-on: ${{matrix.os}}
    steps:
      - uses: actions/checkout@v3
        with:
          persist-credentials: false

      - name: Use Nodejs
        uses: actions/setup-node@v3
        with:
          node-version: "lts/*"

      - name: Install pnpm and project dependency
        uses: pnpm/action-setup@v2.2.4
        with:
          version: 8.1.0
          run_install: |
            args: [--no-frozen-lockfile]
      - name: lint code
        run: |
          pnpm lint

  tests:
    strategy:
      matrix:
        node-versions: [16, 18]
        os: [ubuntu-latest, windows-latest, macos-latest]

    needs: [linter]
    runs-on: ${{matrix.os}}

    steps:
      - uses: actions/checkout@v3
        with:
          persist-credentials: false
      - name: Use Node.js
        uses: actions/setup-node@v3
        with:
          node-version: ${{matrix.node-versions}}

      - name: Install pnpm and project dependency
        uses: pnpm/action-setup@v2.2.4
        with:
          version: 8.1.0
          run_install: |
            args: [--no-frozen-lockfile]

      - name: Run tests
        # TODO: create a test:ci script
        run: |
          pnpm test

  build:
    strategy:
      matrix:
        os: [ubuntu-latest]
        node-versions: [16, 18]

    needs: [linter, tests]
    runs-on: ${{matrix.os}}

    steps:
      - uses: actions/checkout@v3
        with:
          persist-credentials: false
      - name: Use Node.js
        uses: actions/setup-node@v3
        with:
          node-version: ${{matrix.node-versions}}

      - name: Install pnpm and project dependency
        uses: pnpm/action-setup@v2.2.4
        with:
          version: 8.1.0
          run_install: |
            args: [--no-frozen-lockfile]

      - name: Build and Type-Check
        run: |
          pnpm build
          pnpm build:type-check
